# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
/storage/pail
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
.phpactor.json
.phpunit.result.cache
.phpunit.cache
/.idea
/.vscode
/.nova
/.zed
/.fleet
auth.json
/public/build
/public/hot
npm-debug.log
yarn-error.log
Thumbs.db
.DS_Store

# React or frontend tooling
build/
coverage/
.env.local
.env.development.local
.env.test.local
.env.production.local
